{% extends 'base.html' %}
{% block head %}
<Title>Reports Section</Title>
{% endblock %}

{% block body %}
<h1>Select the month to report on</h1>

<form action="{{ url_for('reports') }}" method="post">
    <label for="month-year-select">Select Month and Year:</label>
    <input 
        type="month" 
        id="month-year-select" 
        name="month-year"
        min="2000-01" 
        max="2030-12"
    >
    <input type="submit" value="Get Report" id="btn_get_report">
</form>

{% if period|length > 0 %}
Gevonden: {{ period }}
{% endif %}

{% if error|length > 0 %}
Error: {{ error }}
{% endif %}

{% if report|length > 0 %}

<h2>Report</h2>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>DeviceID</th>
            <th>StartDateTime</th>
            <th>EndDateTime</th>
            <th>Energy</th>
        </tr>
    </thead>
    <tbody>
        {% set total_energy = 0 %}
        {% for row in report %}
        <tr>
            <td>{{ row.UserFullName }}</td>
            <td>{{ row.DeviceID }}</td>
            <td>{{ row.StartDateTime }}</td>
            <td>{{ row.EndDateTime }}</td>
            <td>{{ row.Energy }}</td>
        </tr>
        {% set total_energy = total_energy + row.Energy %}
        {% endfor %}
    </tbody>
</table>
{% endif %}


<script>
    // Optional: Get selected month and year
    document.getElementById('month-year-select').addEventListener('change', function() {
        const selectedMonthYear = this.value;
        console.log('Selected:', selectedMonthYear);
        // selectedMonthYear will be in format 'YYYY-MM'
    });
</script>

{% endblock %}